body {
    background-image: url("motoerbeer.jpeg");
    background-size: auto;
    color: red;
}

 h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    font-weight: normal;
}

.song-add-section {
    width: 250px;
    margin: 10px auto;
}

.song-add-section input {
    outline: none;
    border: 1px solid white;
    background-color: white;
    height: 50px;
    width: 250px;
    padding-left: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-left: -5px;
}

#file-input {
    display: none;
}

.numbering-exclude {
    display: block;
}

.setlist-upload-download-section {
    text-align: center;
}

.setlist-container {
    display: flex;
    justify-content: center;
}

[draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: element;
}

.draggable {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    cursor: move;
}

.draggable.dragElem {
    opacity: 0.4;
}

.draggable.over {
    border-top: 2px solid red;
}

@media print {
    body {
        color: black;
    }
    .print-invisible {
        display: none;
    }

    .print-invisible > * {
        display: none;
    }

    body ol .draggable {
        margin: 0 auto;
        line-height: 1.5;
        height: auto;
        list-style-type: unset;
        font-weight: 800;
        font-size: 20px;
    }
}
