body {
    background-image: url("motoerbeer.jpeg");
    background-size: auto;
    color: red;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    font-weight: normal;
}

.song-add-section {
    width: 250px;
    margin: 10px auto;
}

.song-add-section input {
    outline: none;
    border: 1px solid white;
    background-color: white;
    height: 50px;
    width: 250px;
    padding-left: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-left: -5px;
}

#file-input {
    display: none;
}

.numbering-exclude {
    display: block;
}

.setlist-upload-download-section {
    text-align: center;
}

.setlist-container {
    display: flex;
    justify-content: center;
    background-color: rgba(74, 72, 72, 0.9);
    padding-right: 20px;
    padding-left: 10px;
}

[draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: element;
}

.draggable {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    cursor: move;
}

.draggable.dragElem {
    opacity: 0.4;
}

li.over .draggable {
    border-top: 2px solid red;
}

li:last-child .move-song-down-button {
    visibility: hidden;
}

li:first-child .move-song-up-button {
    visibility: hidden;
}

/*TODO hacky -> restyle list to table or flex columns*/
.move-song-up-button {
    margin-left: auto;
}

.list-item-container {
    display: flex;
}


@media print {
    body {
        color: black;
    }

    .print-invisible {
        display: none;
    }

    .print-invisible {
        display: none !important;
    }

    body ol .draggable {
        margin: 0 auto;
        line-height: 1.5;
        height: auto;
        list-style-type: unset;
        font-weight: 800;
        font-size: 20px;
    }
}
